@charset "UTF-8";
body{
    line-height: 2;
}
p{
    word-wrap: break-word;
}
section{
    padding: 100px 0;
    h3{
        margin-bottom: 100px;
        text-align: center;
    }
    h4{
        margin: 30px 0;
    }
    img{
        width: 100%;
    }
    .section_sub_title{
        font-weight: bold;
        font-size: 1.3em;
    }
}
.profile{
    .row{
        align-items: center;
    }
    img{
        border: 2px solid #ddd;
        border-radius: 50%;
    }
    .profile_name{
        font-weight: bold;
        font-size: 1.3em;
    }
}
.skills{
    background: #f3f3f3;
    .skill1_item{
        padding: 15px;
        text-align: center
    }
    .skill_name{
        margin: 15px 0;
    }
    img{
        width: 120px;
    }
    .skill_name{
        font-weight: bold;
        font-size: 1.3em;
    }
}
.works{
    .works_item{
        margin-bottom: 20px;
        img{
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }
}
.works_item{
    *{
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }
    .works_item_wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: auto;
        height: 200px;
        position: relative;
        overflow: hidden;
        color: #000;
        &:after{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        &::after{
            content: '';
            background-color: rgba(255,255,255, .7);
            -webkit-transition: all 0.35s ease;
            transition: all 0.35s ease;
            opacity: 0;
        }
        img.works_item_img{
            backface-visibility: hidden;
            vertical-align: top;
        }
        .works_item_txt{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            padding: 40px 10px;
        }
        h3.h3_item,.link{
            width: 100%;
            margin: 5px 0;
            padding: 0;
        }
        h3.h3_item{
            font-size: 1em;
            font-weight: bold;
            letter-spacing: 1px;
            opacity: 0;
            top: 50%;
            -webkit-transform: translateY(40px);
            transform: translateY(40px);
        }
        p.txt_item{
            font-size: 0.8em;
            font-weight: bold;
            letter-spacing: 1px;
            opacity: 0;
            top: 50%;
            -webkit-transform: translateY(40px);
            transform: translateY(40px);
        }
        a{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            cursor: pointer;
        }
        &:hover{
            &::after{
                opacity: 1;
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
            }
            .works_item_txt{
                h3.h3_item,p.txt_item{
                    -webkit-transform: translate(0px, 0px);
                    transform: translate(0px, 0px);
                    opacity: 1;
    
                }
            }
            img.works_item_img{
                zoom: 1;
                filter: alpha(opacity=50);
                -webkit-opacity: 0.5;
                opacity: 0.5;
            }
        } 
        .hover{
            .works_item_txt{
                h3.h3_item,p.txt_item{
                    -webkit-transform: translate(0px, 0px);
                    transform: translate(0px, 0px);
                    opacity: 1;
                }
            }
            img.works_item_img{
                zoom: 1;
                filter: alpha(opacity=50);
                -webkit-opacity: 0.5;
                opacity: 0.5;
            }
        } 
    }
}
.w-960{
    width: 960px;
    margin: auto;
}
/* モーダルCSSここから */
.modalArea {
    visibility: hidden; /* displayではなくvisibility */
    opacity : 0;
    position: fixed;
    z-index: 10; /* サイトによってここの数値は調整 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .4s;
  }
  .modalContents{
      p{
          img{
              width: auto;
              max-width: 500px;
          }
      }
      table{
          width: 50%;
          margin: 20px auto;
          text-align: left;
          tr{
              vertical-align: baseline;
          }
          th{
              width: 30%
          }
      }
      
  }
  .modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.9);
  }
  
  .modalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 80%;
    padding: 10px 30px;
    background-color: #fff;
  }
  
  .closeModal {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
  }
  
  .is-show { /* モーダル表示用クラス */
    visibility: visible;
    opacity : 1;
  }